.outerContainer {
  flex: 1;
  display: flex;
  margin-left: auto;
  flex-direction: column;
}

.header {
  font-family: sans-serif;
}

.container {
  list-style: none;
  margin-bottom: 10px;
}

.plainChat {
  font-size: 1em;
}

.system {
  composes: systemText from './variables.css';
}

.messages {
  overflow-y: auto;
  padding: 5px;
  composes: standardBorder from './variables.css';
  border-bottom: 0;
  flex: 1;
}

.inputContainer {
  display: flex;
}
