
.container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.input {
  composes: standardBorder from './variables.css';
  flex: 9;
  border-right: 0;
  padding-left: 10px;
}

.input:focus {
  outline-width: 0;
}

.send {
  composes: actionButton from './variables.css';
  flex: 1;
}

