.outerContainer {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addPane {
  position: absolute;
  composes: actionButton from './variables.css';
  composes: standardBoxShadow from './variables.css';
  
  font-size: 14px;
  font-weight: bold;
  tex-transform: uppercase;
  z-index: 3;
  bottom: 20px;
  left: 100px;
}

