/* 
 Color Pallette stuff
 Cool Iris #05A8C0 rgb(5, 168, 192)
 redliz #B61C2F rgb(182, 28, 47)
 1,000 Apologies #35353C rgb(53, 53, 60)
 darker plumange #007A7B rgb(0, 122, 123)
 miamis team #009B9E rgb(0, 155, 158)
*/
.systemText {
  font-family: monospace;
}

.borderSizing {
  box-sizing: border-box;
}

.standardBorder {
  composes: borderSizing;
  border: 2px solid rgb(0, 155, 158);
}

.standardBoxShadow {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .17);
}

.standardBackground {
  background-color: rgb(0, 155, 158);
}

.standardHeader {
  composes: standardBackground;
  box-shadow: -2px -2px 2px 2px rgba(0, 0, 0, .17);
  color: white;
  font-size: .8em;
  width: auto;
  display: flex;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.sectionBorder {
  composes: borderSizing;
  border: 2px solid rgb(53, 53, 60);
}

.standardButton {
  composes: standardBackground;
  color: white; 
  border: 0;
  height: 12px;
  width: 12px; 
}

.standardButton:disabled {
  background-color: rgb(0, 117, 118);
  cursor: not-allowed;
}

.actionButton {
  composes: standardButton;
  padding: 10px;
  width: auto;
  height: auto;
}
