doctype html
html
  head 
    title Roll Player
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/main.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
  body
    #main
    script(src='/socket.io/socket.io.js', type='text/javascript')
    script(src='/static/bundle.js', type='text/javascript')
    script(src='/static/js/ga.js' type='text/javascript')
